.centered-row {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  flex-wrap: wrap; /* Allows wrapping on small screens */
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
  .centered-row {
    flex-direction: column;
    align-items: stretch; /* or center, depending on your design */
  }
}



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.card {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divButton {
  width: 80%;
  background-color: white;
  color: black;
  border: 1.5px solid white;
  height: fit-content;
  border-radius: 30px;
  padding: 25px;
  margin-top: 10px;
  border: 5px solid darkgrey;
}
.container{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .wrapper{
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container #custom-btn{
  margin-top: 30px;
  display: block;
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 5px solid darkgrey;
}
.allContainer {
  background-color: black;
  height: 100vh;
  overflow: auto;
}